@media (max-width: 930px) {
  .contactInfo {
    width: 350px;
  }
  .contactDescription {
    width: 350px;
  }
  .nameInput {
    width: 350px;
  }
  .emailInput {
    width: 350px;
  }
  .messageInput {
    width: 730px;
  }
}
