@media (max-width: 1150px) {
  .aboutMeMain {
    .locationContainer {
      width: 1000px;
    }
  }
}
@media (max-width: 1020px) {
  .aboutMeMain {
    .locationContainer {
      width: 900px;
      gap: 30px;
    }
  }
}
@media (max-width: 930px) {
  .aboutMeMain {
    .locationContainer {
      width: 800px;
      gap: 30px;
      .descriptionContainer {
        width: 300px;
        .description{
          width: 300px;
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 850px) {
    .aboutMeMain {
        gap: 50px;
        .locationContainer {
          width: 800px;
          flex-direction: column;
          gap: 10px;
          .descriptionContainer {
            width: 300px;
            .description{
              width: 450px;
              text-align: center;
              font-size: 20px;
            }
            .descriptionButton{
                display: none;
            }
          }
        }
      }
}
