/* You can add global styles to this file, and also import other style files */
@use "styles/mixins";
@import "styles/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.privacy-mode ::ng-deep .language-switcher {
  background-color: #ff0000;
  color: #ad1010;
}
